<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add New</title>
</head>
<body class= "p-3">
    <div class = "flex-column">
        <div class="d-flex flex-row justify-content-between">
            <h2>Hello {{ user.first_name }} Learn about this trip!</h2>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Log Out</a>
        </div>
        </br>
        </br>
        <div class = "d-flex flex-column text-center">
            <h4>Destination {{ trip.destination }}!</h4>
            <div class= "border border-dark mr-5 ml-5 p-2">
                <p>start date: {{ trip.start_date }}</p>
                <p>end date: {{ trip.end_date }}</p>
                <p>created on: {{ trip.created_at }}</p>
                <p>created on: {{ trip.updated_at }}</p>
                <p>created by: {{ trip.trip_admin }}</p>
            </div>
            <div class= "border border-dark mr-5 ml-5 p-2">
                    <p>people who have joined the trip:</p>
                    {% for trav in traveler %}
                <ul>
                    
                    <li>
                        {{ trav.first_name }}
                    </li>
                </ul>
                 {% endfor %}

            </div>

        </div>
    </div>

</body>
</html>